<div class="container">
    <div [hidden]="submitted">
        <h1>Recipe Form</h1>
        <form (ngSubmit)="onSubmit(recipeForm.value)" #recipeForm="ngForm" class="example-form">
            <mat-form-field class="form-group example-full-width" appearance="fill">
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                    #name="ngModel" disabled title="Name cannot be changed">
                <mat-error [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-group example-full-width" appearance="fill">
                <mat-label for="description">Description</mat-label>
                <input matInput type="text" class="form-control" id="description" required [(ngModel)]="model.description"
                    name="description" #description="ngModel">
                    <mat-error [hidden]="description.valid || description.pristine" class="alert alert-danger">
                        Description is required
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group example-full-width" appearance="fill">
                <mat-label for="cookTime">Cook Time</mat-label>
                <input matInput type="number" class="form-control" id="cookTime" required [(ngModel)]="model.totalCookTime"
                    name="totalCookTime" #totalCookTime="ngModel">
                    <mat-error [hidden]="totalCookTime.valid || totalCookTime.pristine" class="alert alert-danger">
                        Cook Time is required
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group example-full-width" appearance="fill">
                <mat-label for="instructions">Instructions</mat-label>
                <input matInput type="text" class="form-control" id="instructions" required [(ngModel)]="model.instructions"
                    name="instructions" #instructions="ngModel">
                    <mat-error [hidden]="instructions.valid || instructions.pristine" class="alert alert-danger">
                        Instructions are required
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group example-full-width" appearance="fill">
                <mat-label for="ingredients">Ingredients</mat-label>
                <input matInput type="text" class="form-control" id="ingredients" required [(ngModel)]="model.ingredients"
                    name="ingredients" #ingredients="ngModel">
                    <mat-error [hidden]="ingredients.valid || ingredients.pristine" class="alert alert-danger">
                        Ingredients are required
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group example-full-width" appearance="fill">
                <mat-label for="notes">Notes</mat-label>
                <input matInput type="text" class="form-control" id="notes" [(ngModel)]="model.notes" name="notes">
            </mat-form-field>

            <button mat-button color="primary" type="submit" class="btn btn-success"
                [disabled]="!recipeForm.form.valid">Submit</button>
            <button mat-button color="primary" type="button" class="btn btn-default"
                (click)="recipeForm.reset()">Reset</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div>
            <div >Name: {{ model.name }}</div>
            <div>Description</div>
            <div>{{ model.description }}</div>
            <div>Total cook time</div>
            <div>{{ model.totalCookTime }}</div>
            </div>
        <br>
        <button mat-button color="primary" type="button" class="btn btn-primary" [routerLink]="'/view'" (click)="setCurrentRecipe()">View</button>
    </div>
</div>