<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 mat-button [routerLink]="'/list'">RecipeBook</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/create'"> Create Recipe </a>
        <a mat-button [routerLink]="'/edit'"> Edit Recipe </a>
        <a mat-button [routerLink]="'/delete'"> Delete Recipe </a>
        <a mat-button [routerLink]="'/table'"> Table </a>
        <a mat-button [routerLink]="'/list'">List</a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>