<div class="flex justify-center space-x-2">
  <div class="ft-recipe__thumb"><span id="close-modal"><i class="ion ion-md-close"></i></span>
  </div>
  <div class="ft-recipe__content">
    <p class="text-3xl">{{recipe.name}}</p>
    <p class="text-xl">Total Cook Time: {{recipe.totalCookTime}}</p>
    <p class="text-xl">{{recipe.description}}</p>
    <p class="my-8">{{recipe.instructions}}</p>

    <button mat-button color="primary" type="button" class="btn btn-primary" (click)="editRecipe()">Edit</button>
    <button mat-button color="primary" type="button" class="rounded-lg" (click)="deleteCurrentRecipe()">Delete</button>
  </div>
</div>
<img class="mx-auto w-3/4" src="https://zippypaws.com/app/uploads/2018/05/strawberry-waffles-1024x668.jpg" alt="Strawberry Waffle" />