#recipeList:nth-child(1) {
    background: red;
}
#recipeList:nth-child(2) {
    background: blue;
}

mat-grid-list {
    margin-top: 20px;
}

h1 {
    margin-top: 1rem;
    position: absolute;
    left: 43%;
}